.body {
    margin: 0;
    font-size: 28px;
}
.navbar {
    overflow: hidden;
    background-color: #1b3d6d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: auto;
    height:5%;
}
.AltButton{
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: transparent;
    border: solid white;
    margin-right:15px;
}
.MainButton{
    font-weight: 400;
    font-style: normal;
    background-color: #ffd200;
    border: solid #ffd200;
    border-radius: 5px;
    color: #1b3d6d;
    margin-right:10px;
}
.MainContent{
    background-color: #ffffff;
    width: 80%;
    height: 100vh;
    margin:auto;
    z-index: auto;
}

.bgimg{
    object-fit: cover;
    z-index: 1;
}

.background{
    position:fixed;
}