.body {
    margin: 0;
    font-size: 28px;
}
.navbar {
    overflow: hidden;
    background-color: #1b3d6d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height:5%;
    position: fixed;
    width:100vw;
}
.AltButton{
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: transparent;
    border: solid white;
    margin-right:15px;
}
.MainButton{
    font-weight: 400;
    font-style: normal;
    background-color: #ffd200;
    border: solid #ffd200;
    border-radius: 5px;
    color: #1b3d6d;
    margin-right:10px;
}
.MainContent{
    background-color:#F3F0F0;
    width: 80%;
    height: 100vh;
    margin:auto;
    display:absolute;
    z-index:0;
    margin-top: 2.5%;
}
.Profile{
    display:flex;
    padding: 5%;
    padding-bottom: 2%;
    padding-right:1%
}
.ProfileInfo{
    padding-left: 5%;
    padding-right: 5%;
}
.content{
    background-color: #F3F0F0;
}
.ProfilePic{
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.line {
    width: 80%; 
    height: 2px;
    background-color: black;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.line2 {
    width: 100%; 
    height: 2px;
    background-color: black;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.cardtext{
    font-size: 20px;
    padding-left: 2px;
}
.sidemenu{
    position: fixed;
    height: 100lvh;
    background-color: #ecf0f3;
    width: 20%;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 20px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.05);
    padding-top: 5%;
    z-index: 1;
}